<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mit&Yit</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="background">
        <img src="./images/brunch2.jpg" sizingmethod='scale'>
    </div>
        <div class="container">
            <h1>Welcome to Mit&Yit</h1>
            <p class="subhead">Food is as much about sharing as it is about nourishment, why not join a table to meet your potential friends ;)</p>
            <ul style="list-style-type:none;" class="tag">
                <li>
                    <a href="https://mityit.herokuapp.com/user/info">
                    <img src="images/user.png" alt="user icon" class="user">
                    </a>
                    <P>Personal Profile</P>
                </li>
                <li>
                    <a href="https://mityit.herokuapp.com/match/1">
                    <img src="images/match.png" alt="match icon" class="match">
                    </a>
                    <P>Customized Matching</P>
                </li>
                <li>
                    <a href="https://mityit.herokuapp.com/review/1">
                    <img src="images/review.png" alt="review icon" class="review">
                    </a>
                    <P>Review</P>
                </li>
            </ul>
        </div>
    
</body>
</html> 