extends layout

block content
    .container
        h1 Welcome to Mit&Yit
        section#register
            a(href='/user/signup')
                #icon
                    img.register(src='/images/register.png', alt='register icon')
            p Register
        aside#login
            a(href='/user/login')
                #icon
                    img.login(src='/images/login.png', alt='login icon')
            p Login