extends layout

block content

    .container
        h1 Welcome to Mit&Yit
        p#intro A social dining web application that brings people together through meals.

        div(class='msg') #{msg}
        section#register
            a(href='/user/signup')
                img#icon.register(src='/images/register.png', alt='register icon')
            p Register
        aside#login
            a(href='/user/login')
                img#icon.login(src='/images/login.png', alt='login icon')
            p Login
