doctype html
html(lang='en')
    head
        title Mit&Yit
        link(rel='stylesheet' href='/css/main.css')
    body
        block content
        br

        footer#main-footer
            p Copyright © 2020 Mit&Yit