extends layout

block content
    nav#navbar
        .container
            ul
                li
                    a(href='/home') Home
                li
                    a(href='#') Profile
                li
                    a(href='#') Matching
                li
                    a(href='#') Review


    h1 HELLO
    .container
        section
            form
                #form-group
                    label Username:
                    input.form-control(name='name', type='text')
                #form-group
                    label Password:
                    input.form-control(name='password',type='password')
                br
                input.btn.btn-primary(class="button",type='submit',value='Login')