extends layout

block content

    .container#loginform
        h1 Hello
        != messages('message', locals)
        if errors
            each error, i in errors
                div(class="alert") #{error.msg}
        div(class='msg') #{msg}
        form(method='POST', action='/user/login')
            #form-group
                label Username:&nbsp;
                input.form-control(name='username', type='text')
            #form-group
                label Password:&nbsp;
                input.form-control(name='password',type='password')
            br
            input.btn.btn-primary(class="button",type='submit',value='Login')
