extends layout

block content
    nav#navbar
        .container
            ul
                li
                    a(href='/home') Home
                li
                    a(href='#') Profile
                li
                    a(href='#') Matching
                li
                    a(href='#') Review
    h1 WELCOME
    .container
        section
            form
                #form-group
                    label Username:
                    input.form-control(name='username',type='text')
                #form-group
                    label Email:
                    input.form-control(name='email', type='text')
                #form-group
                    label Gender:
                    select(name='gender')
                        option(value='male') Male
                        option(value='female') Female
                        option(value='other') Other
                #form-group
                    label Password:
                    input.form-control(name='password',type='password')
                #form-group
                    label Confirm:
                    input.form-control(name='password2',type='password')
                #form-group
                    label Cuisine Preference:
                    input.form-control(name='cuisine', type='text')
                #form-group
                    label Allergy:
                    input.form-control(name='allergy', type='text')
                #form-group
                    label Religion:
                    input.form-control(name='religion', type='text')
                #form-group
                    label Lunch availability:
                    select(name='availability')
                        option(value='True') Yes
                        option(value='False') No
                #form-group
                    label Dinner availability:
                    select(name='availability')
                        option(value='True') Yes
                        option(value='False') No
                #form-group
                    label Coffee-date availability:
                    select(name='availability')
                        option(value='True') Yes
                        option(value='False') No
                #form-group
                    label Comment:
                    textarea.form-control(name='textarea', type='textarea')

                br
                input.btn.btn-primary(class="button",type='submit',value='Submit')