doctype html
html(lang='en')
    head
        title Mit&Yit Signup
        link(rel='stylesheet' href='/css/main.css')
    body
        nav#navbar
            .container
                ul
                    li
                        a(href='/') Home
                    li
                        a(href='/user/signup') Signup
                    li
                        a(href='#') Profile
                    li
                        a(href='#') Matching
                    li
                        a(href='#') Review

        .container
            h1 SignUp
            section#left
                form
                    #form-group
                        label First Name:
                        input.form-control(name='name', type='text')
                    #form-group
                        label Last Name:
                        input.form-control(name='name', type='text')
                    #form-group
                        label Gender:
                        select(name='gender')
                            option(value='male') Male
                            option(value='female') Female
                            option(value='other') Other

                    #form-group
                        label Email:
                        input.form-control(name='email', type='text')
                    #form-group
                        label Username:
                        input.form-control(name='username',type='text')
                    #form-group
                        label Password:
                        input.form-control(name='password',type='password')
                    #form-group
                        label Confirm:
                        input.form-control(name='password2',type='password')
                    #form-group
                        label Cuisine Perference:
                        input.form-control(name='cuisine', type='text')
                    #form-group
                        label Introduce Yourself:
                        textarea.form-control(name='textarea', type='textarea')

                br
                input.btn.btn-primary(class="button",type='submit',value='Submit')

        footer#main-footer
            p Copyright © 2020 Mit&Yit