@import url(https://fonts.google.com/specimen/Quicksand?selection.family=Quicksand:wght@500;505);


body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: large;
    background: url(../images/brunch5.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

#navbar{
    background-color:transparent;
    color:#f4f4f4;
}

#navbar ul{
    padding:0;
    list-style: none;
    text-align: center;
}

#navbar li{
    display:inline;
}

#navbar a{
    color:#333333;
    text-decoration: none;
    font-size:18px;
    padding-right:15px;
}
#navbar a:hover{
    color:lightcoral;
    text-decoration: none;
    font-size:18px;
    padding-right:15px;
}

.container {
    opacity: 1;
    width:80%;
    margin:auto;
    overflow:hidden;
}

#home{
    text-align: center;
    position: relative;
}

#register{
    float:left;
    width:50%;
    color:#333333;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
}

#login{
    float:right;
    width:50%;
    color:#333333;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
}

h1 {
    color:#333333;
    text-align: center;
    position: relative;
    font-size: 3.0em;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#icon {
    opacity:0.5;
    filter:alpha(opacity=40);
}

#icon:hover {
    opacity:1.0;
    filter:alpha(opacity=100);
}

.register {
    width: 50%;
    height: 50%;
    color:#333333;
}

.login {
    width: 50%;
    height: 50%;
    color:#333333;
}

.subhead {
    position: relative;
    font-size: 1.1em;
    color:#333333;
}

.tag {
    position: relative;
    display: inline;
    color:#333333;
}

.user {
    width: 10%;
    height: 10%;
}

.match {
    width: 10%;
    height: 10%;
}

.review {
    width: 10%;
    height: 10%;
}

form{
    color:#333333;
    text-align: center;
    padding:20px;
    margin-top:40px;
}

.form-group{
    padding-bottom:20px;

}

input{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid darkslategrey;
}

input:focus {
    border: 3px solid darkslategrey;
    color: #333333;
    font-size: large;
    font-weight: bold;
}

textarea {
    width: 25%;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    border: 2px solid #f4f4f4;
    border-radius: 4px;
    resize: none;
}

select{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: transparent;
    color: #333333;
    font-size: large;
    font-weight: bold;

}

.button{
    background-color:#f4f4f4;
    color:#333333;
    padding:10px 15px;
    border:none;
    font-size: large;
    font-weight: bold;
}

.button:hover{
    background:lavender;
    color:#333333;
}


#main-footer{
    color:#333333;
    text-align: center;
    padding:20px;
    margin-top:40px;
}